<div class="container">
  <img src="logo.jpeg" alt="Logo" class="logo">
  <h1>Juego 2D de Plataformas</h1>
  <p>Este juego está desarrollado con Angular. Aquí puedes saltar, correr y explorar diferentes niveles mientras evitas obstáculos y enemigos. ¡Diviértete jugando!</p>
  <div class="buttons">
    <button (click)="startGame()">Jugar</button>
    <!-- <button (click)="goToOptions()">Opciones</button> -->
  </div>
  <div class="top-scores">
    <h2>Top 10 Usuarios</h2>
    <ul>
      <li *ngFor="let user of topUsers">
        {{ user.username }}: {{ user.score }}
      </li>
    </ul>
  </div>
</div>
